body {
    background: #f5f5fa;
    color: #1f1f29;
}

.container {
    width: 85%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

/* Favorite color styling */
h1, h2 {
    color: blue;
}

.favorite-color {
    color: blue;
    font-weight: bold;
}